OPENROUTER_API_KEY = ""

open_router_model = "nvidia/nemotron-3-nano-30b-a3b:free"

# load_dotenv()

# generator_llm = ChatOpenRouter(
#     model="openai/gpt-oss-20b:free",
#     temperature=0.6
# )

# evaluator_llm = ChatOpenRouter(
#     model="google/gemma-4-31b-it:free",
#     temperature=0.6
# )

# optimizer_llm = ChatOpenRouter(
#     model="nvidia/nemotron-3-super-120b-a12b:free",
#     temperature=0.6
# )

# openrouter/free